
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            
        <tr>
            <td>{% for melon, quantity in melon_list %}
                    <td>{{ melon.common_name }}</td>
                    <td>{{ melon.price }}</td>
                    <td>{{ quantity }}</td>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <h3> Total: {{total}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
